/*NavBar*/
.nav-bar {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-bg {
  background-color: rgb(66, 123, 230);
}
.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 30px;
}
.nav-header {
  color: white;
  margin: auto 45px;
}
.avatar > img {
  width: 3rem;
  border-radius: 100px;
}

.chevron {
  width: 1.2rem !important;
  padding-bottom: 12px;
  padding-left: 8px;
}
